* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BtnColor: hsl(217, 28%, 15%);
  --MainBackground: hsl(218, 28%, 13%);
  --FooterBackground: hsl(216, 53%, 9%);
  --TestimonialsBackground: hsl(219, 30%, 18%);
  --Cyan: hsl(188, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --LightRed: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

/* GLOBAL STYLES */

h2,
h3,
a,
input {
  font-family: "Raleway", sans-serif;
  color: var(--White);
}

h2,
p {
  line-height: 1.5em;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: var(--White);
}

a {
  text-decoration: none;
}

.rounded {
  height: 50px;
  margin: auto;
  font-size: 14px;
  font-weight: 700;
  border-radius: 25px;
  outline: none;
  border: none;
}

.btn {
  background-image: linear-gradient(to right, var(--Cyan), var(--Blue));
}

.lg-img {
  width: 100%;
}

/* END OF GLOBAL STYLES */

.main-container {
  background-color: var(--MainBackground);
}

main {
  width: 82%;
  margin: auto;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  padding: 25px 15px;
}

.logo-container {
  max-width: 100px;
}

.header-logo {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.navbar a {
  font-size: 14px;
  margin-right: 15px;
}

/* END OF HEADER */
/* HERO */

.hero-container {
  text-align: center;
  padding: 30px 0 100px 0;
}

.hero-container h2 {
  margin: 25px 0;
}

.hero-container p {
  margin: 25px 0;
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 300px;
}

/* END OF HERO */
/* FEATURES */

.features-container {
  padding-bottom: 100px;
}

.feature {
  text-align: center;
  padding: 50px 0;
}

.feature h3 {
  margin: 25px 0 15px 0;
}

/* END OF FEATURES */
/* PRODUCT DESCRIPTION */

.product-desc-container {
  padding-bottom: 100px;
}

.product-desc-container h3 {
  margin: 50px 0 15px 0;
}

.product-desc-container p {
  margin: 15px 0;
}

.product-desc-link {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-bottom: 5px;
  font-size: 14px;
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.product-desc-link img {
  margin-left: 5px;
}

/* END OF PRODUCT DESCRIPTION */
/* TESTIMONIALS */

.testimonials-container {
  margin-bottom: 300px;
}

.quotes {
  width: 25px;
}

.testimonial {
  margin-bottom: 25px;
  padding: 20px;
  background-color: var(--TestimonialsBackground);
}

.testimonial-text {
  font-size: 12px;
  line-height: 2em;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.profile-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 100%;
}

.name {
  font-size: 12px;
  font-weight: 700;
}

.occupation {
  font-size: 10px;
}

/* END OF TESTIMONIALS */
/* EARLY ACCESS */

.early-access-container {
  width: 100%;
  margin: -250px 0 100px 0;
  padding: 30px 20px;
  text-align: center;
  background-color: var(--BtnColor);
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  z-index: 999;
}

.early-access-container h3 {
  font-size: 16px;
}

.early-access-container p {
  margin: 15px 0;
}

.form-field input {
  width: 100%;
  margin-top: 20px;
}

#email::placeholder {
  font-size: 10px;
  color: lightgrey;
  padding-left: 25px;
}

/* END OF EARLY ACCESS */
/* FOOTER */

footer {
  padding: 100px 25px 50px 25px;
  background-color: var(--FooterBackground);
  z-index: -998;
}

.footer-logo {
  width: 150px;
}

.contact-info-container {
  margin-bottom: 50px;
}

.contact-info {
  display: flex;
  align-items: flex-start;
  margin-top: 25px;
}

.contact-info p {
  margin-left: 15px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.footer-links a {
  margin-top: 15px;
  font-size: 14px;
}

.social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.social-icon-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin: 0 5px;
  border: thin solid var(--White);
  border-radius: 100%;
}

.social-icon-container i {
  margin-bottom: -1px;
  font-size: 12px;
}

/* END OF FOOTER */
